.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height:100vh;
}

@media screen and (max-width: 768px){
    .container {
        grid-template-columns: 1fr;
    }
}


h2 {
    text-align: center;
}
#movements{
    padding: 20px;
    color: white;
    background-color: black;
}

.card {
text-align: center;
color: white;
font-size: 1.5rem;
font-weight: 400;
background-color: rgb(0, 0, 0);
padding: 20px;
border-radius: 10px;
}

.card img {
height: 400px;
}

.card button {
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}